<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta charset="utf-8">
        <link href="../css/metro.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/nico.css">
        <link rel="stylesheet" type="text/css" href="../css/Document/accueil.css">
        <link rel="stylesheet" type="text/css" href="../css/alex.css">
        <title>Index</title>
    </head>
    <body>
		<div class="background">
			<div class="container"></div>
		</div>
		<nav>
			<div class="link">
				<a href="#"><div>Accueil</div></a>
				<a href="../view/event.html"><div>Evènement</div></a>
				<span class="logo"><img src="../img/logo.png"></span>
				<a href="#"><div>Association</div></a>
				<a href="#"><div>Boutique</div></a>
				<a class="connect" href="#"><div><i class="fa fa-user"></i></div></a>
			</div>
		</nav>
		<section>
			<div class="presentation">
				<div class="vedette">
					<div class="description">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sollicitudin tortor ut dolor sodales ultrices.
					</div>
					<img src="https://images.duckduckgo.com/iu/?u=http%3A%2F%2F2.bp.blogspot.com%2F-yLd1FCI4J9c%2FUfc3mM0QIeI%2FAAAAAAAAOao%2FG4B4TnadQZc%2Fs1600%2FMovie-Minion-Wallpaper.jpg&f=1">
				</div>
				<div class="list">
					<a href="#" class="link">Interdum et malesuada fames ac ante ipsum primis in faucibus. </a>
					<a href="#" class="link">Interdum et malesuada fames ac ante ipsum primis in faucibus. </a>
					<a href="#" class="link">Interdum et malesuada fames ac ante ipsum primis in faucibus. </a>
					<a href="#" class="link">Interdum et malesuada fames ac ante ipsum primis in faucibus. </a>
					<a href="#" class="link">Interdum et malesuada fames ac ante ipsum primis in faucibus. </a>
				</div>
			</div>
		</section>
		<div class="body">
			<section class="idees">
				<div class="idee">
					<div class="numero">
						<div class="numero_left"></div>
						<div class="numero_center">
							<span class="numero_text">2 avril 2017</span>
							<span class="numero_right"></span>
						</div>
					</div>
					<div class="content">
						<div class="btns">
							<i class="fa fa-thumbs-up" style="color:green"></i> 8 <br> <i class="fa fa-thumbs-down" style="color:red"></i> 6<br><i class="fa fa-comments"></i> 2
						</div>
						<div class="titre">
							PUTAINTE DE TITRE
						</div>
						Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi pretium erat placerat ornare luctus. Cras nec sapien in dui vulputate fermentum ut sit amet arcu. Nulla ullamcorper ante placerat interdum ullamcorper. Quisque gravida tristique lorem vel sollicitudin. Phasellus placerat libero urna, eu euismod purus pretium ut. Sed interdum dolor in urna consequat ornare ut id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce purus est, feugiat ut orci ut, condimentum malesuada enim. Duis eget est in felis mollis vestibulum. Cras pellentesque, ante non ornare venenatis, justo nisl dictum diam, eget varius urna augue ac sapien. Donec lacinia dictum purus eget pulvinar. Aliquam erat volutpat. Nulla eu nisl in magna gravida porta. Donec accumsan mauris eu orci lacinia, eu varius odio pharetra. 
					</div>
				</div>
				<div class="idee">
					<div class="numero">
						<div class="numero_left"></div>
						<div class="numero_center">
							<span class="numero_text">1 avril 2017</span>
							<span class="numero_right"></span>
						</div>
					</div>
					<div class="content">
						<div class="btns">
							<i class="fa fa-thumbs-up" style="color:green"></i> 5 <br> <i class="fa fa-thumbs-down" style="color:red"></i> 6<br><i class="fa fa-comments"></i> 6
						</div>
						<div class="titre">
							PUTAINTE DE TITRE
						</div>
						Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi pretium erat placerat ornare luctus. Cras nec sapien in dui vulputate fermentum ut sit amet arcu. Nulla ullamcorper ante placerat interdum ullamcorper. Quisque gravida tristique lorem vel sollicitudin. Phasellus placerat libero urna, eu euismod purus pretium ut. Sed interdum dolor in urna consequat ornare ut id nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce purus est, feugiat ut orci ut, condimentum malesuada enim. Duis eget est in felis mollis vestibulum. Cras pellentesque, ante non ornare venenatis, justo nisl dictum diam, eget varius urna augue ac sapien. Donec lacinia dictum purus eget pulvinar. Aliquam erat volutpat. Nulla eu nisl in magna gravida porta. Donec accumsan mauris eu orci lacinia, eu varius odio pharetra. 
					</div>
				</div>
				<div class="showIdee">
					<i class="fa fa-arrow-down"></i> Show More Ideas <i class="fa fa-arrow-down"></i>
				</div>
			</section>
		</div>
		
		<footer>
			Copyright
		</footer>
        <script src="../js/jquery.js"></script>
        <script src="../js/metro.js"></script>
        <script src="../js/live.js"></script>
	</body>
</html>