<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta charset="utf-8">
        <link href="../css/metro.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/nico.css">
        <link rel="stylesheet" type="text/css" href="../css/Document/listevent.css">
        <link rel="stylesheet" type="text/css" href="../css/Document/asso.css">
        <title>Evènements - BDE cesi</title>
    </head>
    <body>
		<div class="background">
			<div class="container"></div>
		</div>
		<nav> 
			<div class="link">
				<a href="#"><div>Accueil</div></a>
				<a href="#"><div>Evènement</div></a>
				<span class="logo"><img src="../img/logo.png"></span>
				<a href="#"><div>Association</div></a>
				<a href="#"><div>Boutique</div></a>
				<a class="connect" href="#"><div><i class="fa fa-user"></i></div></a>
			</div>
		</nav>
	
		<section class="tileheigt">
			<div class="title">
				Liste d'événements
			</div>
		</section>

		<section class="list">
			<div class="cadre">
				<div class="content">
					<div class="left">
						<div class="titre">
								WESH LES JEUNES
						</div>
							<div class="fade">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu elit nec erat 
							imperdiet ullamcorper vitae sed erat. Duis sodales feugiat tristique wesh alors.
							why so salty hu ?.
						</div>
						</div>
					<div class="right">
						<img src="../img/logo.png">
					</div>
				</div>
				<div class="bottom">
					<button>Voir plus <i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
			
			<div class="cadre">
				<div class="content">
					<div class="left">
						<div class="titre">
								BEUVERIE AU 3 BRASSEURS
						</div>
							<div class="fade">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu elit nec erat 
							imperdiet ullamcorper vitae sed erat. Duis sodales feugiat tristique wesh alors.
							why so salty hu ?.
						</div>
						</div>
					<div class="right">
						<img src="../img/logo.png">
					</div>
				</div>
				<div class="bottom">
					<button>Voir plus <i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
			
			<div class="cadre">
				<div class="content">
					<div class="left">
						<div class="titre">
								CONCOUR DE LANCER D'ORDINATEUR
						</div>
						<div class="fade">
							<div class="fade">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu elit nec erat 
							imperdiet ullamcorper vitae sed erat. Duis sodales feugiat tristique wesh alors.
							why so salty hu ?.
						</div>
						</div>
					</div>
					<div class="right">
						<img src="../img/logo.png">
					</div>
				</div>
				<div class="bottom">
					<button>Voir plus <i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
			
			<div class="cadre">
				<div class="content">
					<div class="left">
						<div class="titre">
								PURGE DES XENOS
						</div>
						<div class="fade">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu elit nec erat 
							imperdiet ullamcorper vitae sed erat. Duis sodales feugiat tristique wesh alors.
							why so salty hu ?.
						</div>
						</div>
					<div class="right">
						<img src="../img/logo.png">
					</div>
				</div>
				<div class="bottom">
					<button>Voir plus <i class="fa fa-arrow-right"></i></button>
				</div>
			</div>
		</section>
		
        <script src="../js/live.js"></script>
</html>

