<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta charset="utf-8">
        <link href="../css/metro.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/nico.css">
        <link rel="stylesheet" type="text/css" href="../css/Document/event.css">
        <title>Event - BDE cesi</title>
    </head>
    <body>
		<div class="background">
			<div class="container"></div>
		</div>
		<nav>
			<div class="link">
				<a href="#"><div>Accueil</div></a>
				<a href="#"><div>Evènement</div></a>
				<span class="logo"><img src="../img/logo.png"></span>
				<a href="#"><div>Association</div></a>
				<a href="#"><div>Boutique</div></a>
				<a class="connect" href="#"><div><i class="fa fa-user"></i></div></a>
			</div>
		</nav>
		
		<section class="tileheigt">
			<div class="title">
				Super évenement
			</div>
		</section>
		
		<section class="box">
			<div class="section">
				<div class="titre">
				 Organisation d'une soirée pour l'inauguration du kremlin
				</div>
				<div class="text">
				Bien le bonjour camarade !
				Je vous apporte la soirée rouge de l'année !
				nous aurons le privilège d'accueillir un nouveau kommissar dans nos rang ! mais je vais faire un test de longueur au cas ou
				</div>
			</div>
			<div class="formulaire">
				Organisateur
				<div class="cont">
					Rasputin
				</div>
				Contact
				<div class="cont">
					rasputin@comunism@kremlin.ru
				</div>
				Lieu
				<div class="cont">
					kremlin
				</div>
				Date
				<div class="cont">
					24/06/2017
				</div>
			</div>
			<div class="btns">
				<i class="fa fa-thumbs-up" style="color:green"></i> 14 <br> <i class="fa fa-thumbs-down" style="color:red"></i> 3<br><i class="fa fa-comments"></i> 5

			</div>
		</section>

		
		<footer>
			Copyright
		</footer>
        <script src="../js/live.js"></script>
	</body>
</html>