<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<meta charset="utf-8">
        <link href="../css/metro.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../css/nico.css">
        <link rel="stylesheet" type="text/css" href="../css/Document/panier.css">
        <title>Profil</title>
    </head>
    <body>
		<div class="background">
			<div class="container"></div>
		</div>
		<nav>
			<div class="link">
				<a href="#"><div>Accueil</div></a>
				<a href="#"><div>Evènement</div></a>
				<span class="logo"><img src="../img/logo.png"></span>
				<a href="#"><div>Association</div></a>
				<a href="#"><div>Boutique</div></a>
				<a class="connect" href="#"><div><i class="fa fa-user"></i></div></a>
			</div>
		</nav>
		
		<section class="tileheigt">
			<div class="title">
				Panier
			</div>
		</section>
		
		<div class="panier">
			<div class="header">
				<div class="column">Article</div>
				<div class="column">Référence</div>
				<div class="column">Prix</div>
				<div class="column">Quantité</div>
				<div class="column">Total</div>
			</div>
			
			<div class="produit">
				<div class="column">
					<img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.jpQTXFYzXwrYbzhPyS_qdwEsDo%26pid%3D15.1&f=1">
				</div>
				<div class="column">#TESBOF</div>
				<div class="column">999999,99£</div>
				<div class="column">10000001</div>
				<div class="column">Un nombre</div>
			</div>
			
			<div class="produit">
				<div class="column">
					<img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.jpQTXFYzXwrYbzhPyS_qdwEsDo%26pid%3D15.1&f=1">
				</div>
				<div class="column">#TESBOF</div>
				<div class="column">999999,99£</div>
				<div class="column">10000001</div>
				<div class="column">Un nombre</div>
			</div>
			
			<div class="produit">
				<div class="column">
					<img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.jpQTXFYzXwrYbzhPyS_qdwEsDo%26pid%3D15.1&f=1">
				</div>
				<div class="column">#TESBOF</div>
				<div class="column">999999,99£</div>
				<div class="column">10000001</div>
				<div class="column">Un nombre</div>
			</div>
			
		</div>
		
		<footer>
			Copyright
		</footer>
        <script src="../js/jquery.js"></script>
        <script src="../js/metro.js"></script>
        <script src="../js/live.js"></script>
	</body>
</html>