button {
	border: 2px groove #CC615A;
	background-color: white;
}

.tileheigt > .title {
	position:absolute;
	background-color:white;
	border: 2px groove #6B9BEA;
	margin-top: -5vh;
	height:10vh;
	line-height:10vh;
	font-size: 25pt;
	margin-left: 25vw;
	width:50vw;
	text-align:center;
}
.tileheigt > .title > .rang {
	position:absolute;
	font-size: 12px;
	margin-top: -3vh;
	right: 0;
	margin-right: 15px;
}

.tileheigt{
	height:6vh;
}

.tileheigt > .logo {
	position: absolute;
	height: 10vh;
	width: 10vh;
	margin-left: calc(25vw - 5vh);
	margin-top: -10vh;
	border: 2px groove #6B9BEA;
	background-size: cover;
	z-index: 100;
}

.profil {
	margin: 0 30vw;
	border: 2px groove #6B9BEA;
	padding: 15px 30px;
	width: 40vw;
	position: relative;
	margin-bottom: 15px;
	background-color: white;
}
.profil > .info {
	padding-top: 15px;
}
.profil > .info > .title {
	line-height: 22pt;
	size: 18pt;
	font-weight: bold;
}
.profil > .info > input {
	width: 100%;
}
.profil > .btnsavetop {
	float:right;
	height: 15px;
}

.profil > .btnsavebottom {
	text-align: center;
	margin-top: 15px;
}
.profil > .btnsavebottom > button {
	width: 50%;
}