/*---------------------------------------------------------------------------*/
/*--------------------------Container----------------------------------------*/
/*---------------------------------------------------------------------------*/
.background {
	background:url('https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/17884144_1310632225687580_7167057356111459973_n.png?oh=c4a028ca7e13a4d0db4146150cf3bc9d&oe=597A681B') no-repeat 0 45%;
	background-size:cover;
    position:fixed;
    width: 100vw;
	height: 40vh;
	z-index: -100;
}
.background > .container{
	background-color: rgba(12,12,12,.5);
    width: 100vw;
	height: 40vh;
}

.connection{
	position: absolute;
	background-color: rgba(0,0,0,.8);
	height: 100vh;
	width: 100vw;
	top:0;
	left:0;
	z-index:2000;
	padding-left: 25vw;
	padding-top: 25vh;
}
.connection > .box{
	width: 50vw;
	color: #6B9BEA;
	display: flex;
	flex-direction: row;
}
.connection > .box > .content {
	flex: 1;
	text-align: center;
	border: 2px groove #6B9BEA;
	margin:0 15px;
	margin-bottom: 15px;
	background-color: white;
	min-height: 50px;
	line-height: 50px;
}
.connection > .box > .content > .text{
	display: inline-block;
	width: 25%;
	text-align: left;
	font-weight: bold;
}
.connection > .box > .formulaire {
	padding-bottom: 5px;
}

/*---------------------------------------------------------------------------*/
/*--------------------------Navigation--------------------------------------*/
/*---------------------------------------------------------------------------*/
nav {
	height: 40vh;
	padding-bottom: 4vh;
}
nav > .link {
	display: flex;
	flex-direction: row;
	line-height: 25pt;
	background-color: white;
	color: #6B9BEA;
	font-size: 19pt;
	padding-left: 5vw;
}
.link > .logo {
	text-align: left;
	position: relative;
}
.link > .logo > img {
	position:absolute;
	height: auto;
	padding-left: 4vw;
	
	max-height: 15vh;
	max-width: 100%;
}
.link > a, .link > span {
	flex:1;
	text-align: center;
	color:inherit;
}
.link > a {
	height:40px;
	line-height: 40px;
	white-space: nowrap;
	padding: 0 10px;
}
.link > .connect{
	padding: 0 2px;
	max-width: 5vw;
}
.link > a:hover {
	background-color: rgba(200,200,200,.5);
	text-transform: uppercase; 
}

/*---------------------------------------------------------------------------*/
/*--------------------------Footer-------------------------------------------*/
/*---------------------------------------------------------------------------*/
footer{
	background-color:white;
	line-height:35pt;
	height:35pt;
	text-align:center;
	font-weight:bold;
	color: #6B9BEA;
	border-top: 5px groove #6B9BEA;
}